/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f4f1;
}

.container {
    display: flex;
    min-height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #f2e9e4;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin-bottom: 20px;
    color: #333;
    cursor: pointer;
}

.menu-item img {
    width: 24px;
    height: 24px;
}

.menu-item.active {
    background-color: #e4d6c8;
    border-radius: 5px;
}

.sidebar a {
    color: black;
    text-decoration: none;
}

.menu-item.sign-out {
    margin-top: auto;
    color: #b22222;
}

/* Main Content */
main {
    flex-grow: 1;
    padding: 20px;
}

.employee-info {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    color: #555;
}

.periode {
    margin-bottom: 20px;
    padding: 10px;
    border-top: 2px solid #d7b89c;
    color: #555;
}

.periode-input {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

/* Table */
.table-container {
    width: 100%;
    max-height: 350px;
    overflow-y: auto;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table-container th, .table-container td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #eee;
    color: #555;
}

.table-container th {
    background-color: #f9f7f5;
    font-weight: bold;
}


.back{
    background-color: #d7b89c;
    border: none;
    padding: 8px 12px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}